/bin/Release/net48/publish/*.exe
/bin/Release/net48/publish/*.dll
/bin/Release/net48/publish/*.pdb
/bin/Release/net48/*.exe
/bin/Release/net48/*.dll
/bin/Release/net48/*.pdb
/bin/Release/net48/*.json
/bin/Release/net48/cs/*.dll
/bin/Release/net48/de/*.dll
/bin/Release/net48/es/*.dll
/bin/Release/net48/fr/*.dll
/bin/Release/net48/it/*.dll
/bin/Release/net48/ja/*.dll
/bin/Release/net48/ko/*.dll
/bin/Release/net48/pl/*.dll
/bin/Release/net48/pt-BR/*.dll
/bin/Release/net48/ru/*.dll
/bin/Release/net48/tr/*.dll
/bin/Release/net48/zh-Hans/*.dll
/bin/Release/net48/zh-Hant/*.dll

/bin/Debug/net48/publish/*.exe
/bin/Debug/net48/publish/*.dll
/bin/Debug/net48/publish/*.pdb
/bin/Debug/net48/*.exe
/bin/Debug/net48/*.dll
/bin/Debug/net48/*.pdb
/bin/Debug/net48/*.json
/bin/Debug/net48/cs/*.dll
/bin/Debug/net48/de/*.dll
/bin/Debug/net48/es/*.dll
/bin/Debug/net48/fr/*.dll
/bin/Debug/net48/it/*.dll
/bin/Debug/net48/ja/*.dll
/bin/Debug/net48/ko/*.dll
/bin/Debug/net48/pl/*.dll
/bin/Debug/net48/pt-BR/*.dll
/bin/Debug/net48/ru/*.dll
/bin/Debug/net48/tr/*.dll
/bin/Debug/net48/zh-Hans/*.dll
/bin/Debug/net48/zh-Hant/*.dll

/obj/Debug/net48/*.cs
/obj/Debug/net48/*.cache
/obj/Debug/net48/*.editorconfig

/obj/Release/net48/*.cs
/obj/Release/net48/*.txt
/obj/Release/net48/*.cache
/obj/Release/net48/*.editorconfig
/obj/Release/net48/*.Up2Date
/obj/Release/net48/*.json
/obj/Release/net48/*.dll
/obj/Release/net48/*.pdb
/obj/Release/net48/*.exe
/obj/Release/net48/ref/*.dll
/obj/Release/net48/refint/*.dll

/obj/Debug/net48/*.cs
/obj/Debug/net48/*.txt
/obj/Debug/net48/*.cache
/obj/Debug/net48/*.editorconfig
/obj/Debug/net48/*.Up2Date
/obj/Debug/net48/*.json
/obj/Debug/net48/*.dll
/obj/Debug/net48/*.pdb
/obj/Debug/net48/*.exe
/obj/Debug/net48/ref/*.dll
/obj/Debug/net48/refint/*.dll

/obj/*.json
/obj/*.props
/obj/*.targets
/obj/*.cache
/obj/Debug/net48/*.resources
/obj/Debug/net48/*.BuildWithSkipAnalyzers
/obj/Debug/net48/*.config
/obj/Debug/net48/TempPE/*.dll
/obj/Release/net48/*.resources
/obj/Release/net48/*.BuildWithSkipAnalyzers
/obj/Release/net48/*.config
/obj/Release/net48/TempPE/*.dll
/bin/Debug/net48/*.config
/bin/Debug/net48/*.txt
/bin/Release/net48/*.config
/bin/Release/net48/*.txt
/bin/Release/net48/L9/L9_LiveData.cfg
/bin/Release/net48/L9/L9_Data.cfg
/bin/Debug/net48/L9/L9_LiveData.cfg
/bin/Debug/net48/L9/L9_Data.cfg
/bin/Debug/net48/L9_Asia/L9_Data.cfg
/bin/Debug/net48/L9_Asia/L9_LiveData.cfg
/bin/Release/net48/L9_Asia/L9_Data.cfg
/bin/Release/net48/L9_Asia/L9_LiveData.cfg
